/* .name {
  --bg-size: 400%;
  --color-one: blue;
  --color-two: green;
  font-family: sans-serif;
  font-size: clamp(3rem, 25vmin, 8rem);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  place-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .name {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
} */

:root {
  --grad-1: rgb(184, 112, 163);
  --grad-2: rgb(143, 215, 73);
  --bg-color: #7d9fd2;
  --f-size: 15px;
  --f-color: black;
}

body {
  background: var(--bg-color);
  font-family: "poppins", sans-serif;
  text-decoration: none;
  color: var(--f-color);
  flex-wrap: wrap;
}
.container {
  height: 100vh;
  width: 100%;
  border: 5px solid yellow;
  box-sizing: border-box;
  background: var(--bg-color);
  margin: 0px;
}
.logo {
  /* width: auto;
      height: auto; */
  height: 120px;
  width: 120px;
}
.logo img {
  cursor: pointer;
  height: 120px;
  width: 120px;
  overflow: hidden;
  transition: 0.5s;
}
.logo :hover {
  height: 130px;
  width: 130px;
  margin-top: 3px;
}
.content {
  width: 40%;
  margin-left: 80px;
  margin-top: 40px;
}
.welcome {
  width: auto;
  height: auto;
  font-size: 150%;
  padding: 2px 0px 2px 0px;
  margin: 2px 0px 2px 0px;
}
.text {
  width: auto;
  height: auto;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border-left: 4px solid grey;
  padding-left: 30px;
}
.right-side {
  width: 40%;
  position: absolute;
  top: 10px;
  right: 10px;
}
.icon-contact {
  display: flex;
  height: 50px;
  width: auto;
  padding: 20px;
  padding-right: 0px;
  margin: 0px;
}
.icon-contact img {
  padding: 5px;
  height: 50px;
  width: 50px;
}
.burger {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 10px;
  display: none;
}
.pages {
  margin-top: 100;
  position: relative;
  top: 120px;
  /* border: 3px solid green; */
}
.pages h3 {
  font-size: 200%;
}
.pages ul {
  text-decoration: none;
  list-style-type: none;
}
.pages li {
  text-decoration: none;
  margin: 10px;
}
.pages ul li a {
  text-decoration: none;
  text-shadow: 2px solid black;
  border-left: 4px solid grey;
  margin: 30px;
  font-size: 150%;
  color: var(--f-color);
}

.pages ul li a:hover {
  border-left: 5px solid grey;
  font-size: 155%;
  font-weight: 900px;
}

.pages .active {
  border-left: 4px solid black;
  font-size: 130%;
}
.pages .active:hover {
  border-left: 5px solid black;
}

.footer {
  text-align: center;
  height: auto;
  background: blanchedalmond;
  margin-top: -15px;
  width: inherit;
}

all {
  display: flex;
  /* border: 3px solid black; */
  height: 380px;
  width: 100%;
  background: #d9d9d9;
  margin: 0px;
}
.do {
  margin: -20px 80px 10px 100px;
  position: static;
  text-align: center;
}
.do h4 {
  margin: -20px 0px 0px 0px;
}
.what-now {
  margin: 90px 80px 90px 80px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}
.what {
  /* border: 3px solid black; */
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
  padding: 0px;
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  transition: 1s;
  background: rgb(8, 8, 8);
  margin: 10px;
}

.box p {
  color: white;
  align-items: center;
  margin: 10px 0px 0px 0px;
  font-family: monospace;
  text-align: center;
}
.box img {
  width: 40px;
  height: 40px;
}
.anime {
  display: flex;
  margin: 30px 60px 30px 20px;
  padding: 0px 20px 0px 0px;
  padding-right: 48px;
  text-align: center;
  visibility: hidden;

  /* position: absolute; */
  /* top: 50%;
    left: 50%; */
  /* transform: translate(-50%, -50%) scale(0); */
  /* transition: transform 0.3s ease-in-out; */
}
.anime div {
  padding: 5px;
}
.title {
  font-size: 15px;
  font-family: monospace;
  text-align: center;
  color: white;
}

.h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%) scale(0); */
  /* transition: transform 0.3s ease-in-out; adds a smooth transition effect */
}

/* .box:hover .anime,
  .box:hover .h4 {
    transform: translate(-50%, -50%) scale(1);
  } */

.box:hover .anime,
.box:hover {
  /* background: red; */
  animation-name: animate;
  animation-timing-function: linear;
  animation-delay: 1s;
  width: 250px;
  height: 250px;
  visibility: visible;
  text-decoration: wavy;
  font-size: medium;
  /* animation-fill-mode: forwards; */
}
@keyframes animate {
  0% {
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease-in-out;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

h6 {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 100px;
}
.skii {
  display: flex;
  margin: 60px 60px 0px -180px;
  visibility: hidden;
}
.skii:hover {
  border: 1px #c3dbff;
}
.skills {
  /* overflow: hidden; */
  text-align: center;
  transition: 1s;
}
.skills:hover .skii,
.skills:hover {
  visibility: visible;

  -ms-transform-origin-x: ;
}

#na {
  font-weight: 300;
}
.name {
  font-size: 30px;
  color: white;
}

/* ////// */

@media only screen and (max-width: 1320px) {
  body {
    padding: 0px;
  }
  .footer {
    position: absolute;
    bottom: -200px;
    right: 10px;
    text-align: center;
  }
}
@media only screen and (max-width: 1007px) {
}
@media only screen and (max-width: 640px) {
  body {
    display: inline-block;
  }
  .container {
    display: inline-block;
    height: auto;

    width: 100%;
    border: 5px solid yellow;
    box-sizing: border-box;

    padding: 0px;
  }

  .logo {
    height: 100px;
    width: 100px;
  }
  .logo img {
    height: 100px;
    width: 100px;
  }
  .logo :hover {
    height: 110px;
    width: 110px;
  }
  .icon-contact {
    height: 10px;
    width: auto;
    position: absolute;
    top: -10px;
    right: 80px;
    margin-left: 0px;
  }
  .icon-contact img {
    padding: 5px;
    height: 35px;
    width: 35px;
  }
  .content {
    width: 40%;
    margin-left: 20px;
    margin-top: 0px;
  }
  .welcome {
    width: auto;
    height: auto;
    font-size: 150%;
    padding: 2px 0px 2px 0px;
    margin: 2px 0px 2px 0px;
  }
  .text {
    width: 70vw;
    border: 1px solid black;
    height: auto;
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-left: 4px solid grey;
    margin-top: -20px;
  }
  .pages {
    /* position: absolute;
        bottom: -100px; */
  }
  .pages {
    margin-top: 100;
    position: relative;
    top: 420px;
    left: -230px;
  }
  .pages h3 {
    font-size: 130%;
  }
  .pages ul {
    text-decoration: none;
  }
  .pages li {
    text-decoration: none;
    margin-top: 10px;
    padding: 0px;
    width: 150px;
  }
  .pages ul li a {
    margin: 10px;
    font-size: 120%;
  }

  .pages ul li a:hover {
    border-left: 5px solid grey;
    font-size: 125%;
    font-weight: 700px;
  }
  .burger {
    display: block;
  }
  .footer {
    position: absolute;
    bottom: -280px;
    right: 10px;
    text-align: center;
  }
}
